<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>My Daily Memo</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <h1>MyDailyMemo</h1>
        </div>
        <ul class="navs">
            <li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="/about">About</a></li>
            <li class="nav-link"><a href="/contact">Contact</a></li>
            <li class="nav-link"><a href="/github" target="_blank">Github</a></li>
        </ul>
        <button class="btn">POST</button>
    </nav>