<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/main.css">
    <title>My Daily Memo</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <h1>MyDailyMemo</h1>
        </div>
        <ul class="navs">
            <li class="nav-link"><a href="#">Home</a></li>
            <li class="nav-link"><a href="#">About</a></li>
            <li class="nav-link"><a href="#">Contact</a></li>
            <li class="nav-link"><a href="#">Github</a></li>
        </ul>
        <button class="btn">POST</button>
    </nav>

    <header class="container">
        <div class="post">
            <form action="/post">
                <textarea name="curhat" cols="30"></textarea>
            </form>
            <button class="btn">POST</button>
        </div>
    </header>

    <main class="container">
        <article>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lobortis vel dui vel lobortis. Proin at purus ut urna bibendum pharetra at vitae purus. Nam consectetur, ex id commodo scelerisque, lectus lectus pellentesque metus, tempus viverra ligula quam vitae leo. Phasellus nec sapien quis metus eleifend condimentum. Ut non urna nec ligula viverra placerat. Vivamus interdum tempor ultrices. Nam ornare metus sed posuere laoreet. Nullam mollis leo in enim faucibus rhoncus.</p>
            <ul class="content">
                <li class="option"><i class="bi bi-trash"></i></li>
                <li class="option"><i class="bi bi-star"></i></li>
                <li class="option"><i class="bi bi-arrow-return-left"></i></li>
                <li class="option left">12 Januari 2020</li>
            </ul>
        </article>
        <article>
            <p>Donec non ipsum dapibus, ullamcorper nulla quis, blandit metus. Etiam sed neque sed dolor eleifend ultricies sed sit amet neque. Mauris sodales pulvinar placerat. Vivamus faucibus maximus </p>
            <ul class="content">
                <li class="option"><i class="bi bi-trash"></i></li>
                <li class="option"><i class="bi bi-star"></i></li>
                <li class="option"><i class="bi bi-arrow-return-left"></i></li>
                <li class="option left">12 Januari 2020</li>
            </ul>
        </article>
        <article>
            <p>Integer quis vestibulum orci. Sed congue dolor nisl, sed facilisis sapien ullamcorper nec. Donec fringilla euismod odio ut placerat. Etiam id ligula non risus interdum cursus ut in dolor. Sed dapibus consequat molestie. Mauris eget enim congue ipsum consectetur porta. Sed</p>
            <ul class="content">
                <li class="option"><i class="bi bi-trash"></i></li>
                <li class="option"><i class="bi bi-star"></i></li>
                <li class="option"><i class="bi bi-arrow-return-left"></i></li>
                <li class="option left">12 Januari 2020</li>
            </ul>
        </article>
        <article>
            <p>Integer vitae pulvinar lorem. Praesent porttitor sapien id</p>
            <ul class="content">
                <li class="option"><i class="bi bi-trash"></i></li>
                <li class="option"><i class="bi bi-star"></i></li>
                <li class="option"><i class="bi bi-arrow-return-left"></i></li>
                <li class="option left">12 Januari 2020</li>
            </ul>
        </article>
        <article>
            <p>Pellentesque sed mattis elit, sit amet consectetur diam. Donec pretium, dolor et feugiat tempus, nunc enim fringilla sapien, sit amet feugiat massa tortor ac dolor. Fusce laoree</p>
            <ul class="content">
                <li class="option"><i class="bi bi-trash"></i></li>
                <li class="option"><i class="bi bi-star"></i></li>
                <li class="option"><i class="bi bi-arrow-return-left"></i></li>
                <li class="option left">12 Januari 2020</li>
            </ul>
        </article>
        <article>
            <p>Duh Hari ini cape banget sumpah</p>
            <ul class="content">
                <li class="option"><i class="bi bi-trash"></i></li>
                <li class="option"><i class="bi bi-star"></i></li>
                <li class="option"><i class="bi bi-arrow-return-left"></i></li>
                <li class="option left">12 Januari 2020</li>
            </ul>
        </article>
        <article>
            <p>Duh Hari ini cape banget sumpah</p>
            <ul class="content">
                <li class="option"><i class="bi bi-trash"></i></li>
                <li class="option"><i class="bi bi-star"></i></li>
                <li class="option"><i class="bi bi-arrow-return-left"></i></li>
                <li class="option left">12 Januari 2020</li>
            </ul>
        </article>
        <article>
            <p>Duh Hari ini cape banget sumpah</p>
            <ul class="content">
                <li class="option"><i class="bi bi-trash"></i></li>
                <li class="option"><i class="bi bi-star"></i></li>
                <li class="option"><i class="bi bi-arrow-return-left"></i></li>
                <li class="option left">12 Januari 2020</li>
            </ul>
        </article>
        <article>
            <p>Duh Hari ini cape banget sumpah</p>
            <ul class="content">
                <li class="option"><i class="bi bi-trash"></i></li>
                <li class="option"><i class="bi bi-star"></i></li>
                <li class="option"><i class="bi bi-arrow-return-left"></i></li>
                <li class="option left">12 Januari 2020</li>
            </ul>
        </article>
    </main>

    <footer>
        <p>Copyright MyDailyMemo</p>
    </footer>
</body>
</html>